# compiled output
/dist
/node_modules
/data

# Logs
logs
*.log

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
*Test

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Configs
.env
.env*
!.env.example
